PORT=3000
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/queue_db?schema=public"
# Redis connection: REDIS_URL takes precedence if specified, otherwise REDIS_HOST and REDIS_PORT are used
REDIS_URL="redis://127.0.0.1:6379"
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
FRONTEND_URL=http://localhost:5173
JWT_SECRET="supersecret_jwt_key_queue_system_2026"
ADMIN_EMAIL="admin@queue.local"
ADMIN_PASSWORD="AdminPassword123!"
